.bordure {
   
    
    width: 25rem;
    height: 43rem;

    background-color: #1F485C;
    border-radius: 5%;

    border: solid 1px black;
    
}
.toppart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ecrantop {
    text-align: right;
    align-self: center;
    width: 23rem;
    height: 5rem;
    background-color: #6A7988;
    margin: 0.7rem;
    border-radius: 10%;


    border: solid 1px black;
}

.blabla {
    width: 10rem;
    height: 2rem;
    justify-content: left;
    align-items: baseline;
    margin: 1rem;

}
.ecranmid {
    width: 10rem;
    height: 2rem;
    justify-content: right;
    align-items: baseline;
    background-color: #6A7988;
    margin: 1rem;


    border: solid 1px black;
}

.lesgrid {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

.gridleft {
    justify-content: left;
    display: grid;
    width: 4rem ;
    height: 30rem;
    grid-template-columns: 3fr;
    grid-template-rows: repeat(6, 3fr);
    grid-gap: 0.4rem;



}
.gridmid {
    justify-content: center;
    display: grid;
    width: 14rem;
    height: 29rem;
    grid-template-columns: 3fr 3fr 3fr ;
    grid-template-rows: 1.5fr 3fr 3fr 3fr 3fr;
    grid-gap: 0.4rem;


}
.gridright {
    justify-content: right;
    display: grid;
    width: 4rem;
    height: 30rem;
    grid-template-columns: 3fr;
    grid-template-rows: repeat(6, 3fr);
    grid-gap: 0.4rem;

    

}

button {
    text-align: center;
    background-color: #CBDFD6;
    border-radius: 10%;
    width: 100%;
    height: 100%;
  
}

.button1 {
    text-align: center;
    background-color: #014F7E;
    border-radius: 10%;
    width: 100%;
    height: 100%;
 

    
}

.button2 {
    text-align: center;
    background-color: #7BB3CF;
    border-radius: 10%;
    width: 100%;
    height: 100%;
  

    
}

.btnON {
    grid-column: 1;
    grid-row: 1/3;
    
}

.btnrac {
    grid-column: 1;
    grid-row: 3/4;
}

.btnpourcent {
    grid-column: 1;
    grid-row: 4/5;
}

.btnpeupres {
    grid-column: 1;
    grid-row: 5/6;
}

.btnmdc {
    grid-column: 1/2;
    grid-row: 1/2;
}

.btnmmoins {
    grid-column: 2/3;
    grid-row: 1/2;
}

.btnmplus {
    grid-column: 3/4;
    grid-row: 1/2;
}

.btn7 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.btn8 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.btn9 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.btn4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.btn5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.btn6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.btn1 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.btn2 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.btn3 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.btn0 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.btnpoint {
    grid-column: 2/3;
    grid-row: 5/6;
}

.btnegal {
    grid-column: 3/4;
    grid-row: 5/6;
}

.btndiv {
    grid-column: 1;
    grid-row: 1/2;
}

.btnX {
    grid-column: 1;
    grid-row: 2/3;
}

.btn- {
    grid-column: 1;
    grid-row: 3/4;
}

.btnplus {
    grid-column: 1;
    grid-row: 4/6;
}